<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>



<%= form_for [@dashboard, @newsfeed] do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
