<p id="notice"><%= notice %></p>

<h1>Listing Newsfeeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Dashboard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsfeeds.each do |newsfeed| %>
      <tr>
        <td><%= newsfeed.title %></td>
        <td><%= newsfeed.body %></td>
        <td><%= newsfeed.dashboard %></td>
        <td><%= link_to 'Show', newsfeed %></td>
        <td><%= link_to 'Edit', edit_newsfeed_path(newsfeed) %></td>
        <td><%= link_to 'Destroy', newsfeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsfeed', new_newsfeed_path %>
